[submodule "SDL"]
	path = thirdparty/sdl
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
[submodule "SDL_Mixer"]
	path = thirdparty/sdl_mixer
	url = https://github.com/libsdl-org/SDL_mixer
	branch = SDL2
[submodule "SDL_Image"]
	path = thirdparty/sdl_image
	url = https://github.com/libsdl-org/SDL_image
	branch = SDL2
[submodule "LibKitsune"]
	path = firstparty/libkitsune
	url = https://github.com/N1ghtTheF0x/libkitsune
